CLOUDFLARE_ACCOUNT_ID=SEU_ACCOUNT_ID
CLOUDFLARE_D1_DATABASE_ID=5a1f3b97-ba6f-48b0-af09-811117d67d68
CLOUDFLARE_D1_API_TOKEN=SEU_TOKEN_DA_CLOUDFLARE

ADMIN_EMAIL=admin@brunafloresnutri.com
ADMIN_PASSWORD=coloque_uma_senha_forte
AUTH_SECRET=gere_uma_chave_grande